extends layout

block content
  h1= title
  p Velkommen til #{title}
  h2 På denne hjemmeside kan man finde dummydata fra min mySQL database

  button(onClick="table()") indsæt data
  #users

<!-->Læs op på handlebars og DOM evt. på w3schools<!--> 