extends layout

block content
  h1= title
  p Velkommen til #{title}
  h2 På denne hjemmeside kan man finde dummydata fra min mySQL database

<!-- Her kaldes funktionerne fra /public/javascripts/databasefunctions.js !-->

  button(onClick="createDB()") create database
  button(onClick="showdata()") Show data from database
  #showdata

<!-->Læs op på handlebars og DOM evt. på w3schools<!--> 